<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc
	    http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- spring mvc 드라이버를 사용하기 위해 꼭 해줘야하는 설정 -->
	<mvc:annotation-driven />
	<!-- 멀티파트 리졸버 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">

		<!-- 최대업로드 가능한 바이트크기 -->
		<property name="maxUploadSize" value="52428800" />

		<!-- 디스크에 임시 파일을 생성하기 전에 메모리에 보관할수있는 최대 바이트 크기 -->
		<!-- property name="maxInMemorySize" value="52428800" / -->

		<!-- defaultEncoding : 읽어오는 String 타입을 인코딩 -->
		<property name="defaultEncoding" value="utf-8" />
	</bean>
	
	<!-- mvc url-resource mapping -->
	
	<mvc:resources mapping="/images/**" location="file:/upload-images/" />
	
	
	<!-- bean 설정을 어노테이션으로 할꺼라는 설정 -->
	<context:annotation-config />
	<!-- 컨테이너에게 알려줄 어노테이션으로 설정된 페키지의 위치와 클레스의 위치를 알려주는것 -->
	<context:component-scan base-package="com.douzone.fileupload.controller" />
	
</beans>
